<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="/">Home</a>
    </nav>
    <nav class="blog-nav navbar-right">
      <% if user_signed_in? %>
        <form class="navbar-form navbar-left" role="search" id="search-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Twitter Username"  id="twitter-username-input">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'blog-nav-item') %>
      <% end %>
    </nav>
  </div>
</div>

