<div class="blog-post">
  <h2 class="blog-post-title"><a href="/<%= tweet['user']['screen_name'] %>">@<%= tweet['user']['screen_name'] %></a></h2>
  <p class="blog-post-meta"><%= tweet['created_at'] %></p>
  <p><%= tweet['text'] %></p>
  <hr />
</div>
