<div class="blog-header">
  <h1 class="blog-title">Welcome to SC Twitter</h1>
  <p class="lead blog-description">Bla bla bla.</p>
</div>

<div class="row">
  <div class="col-sm-8 blog-main">
    <%= render "shared/tweet" %>
  </div>
</div>

