# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU

TWITTER_ACCESS_TOKEN: 45146252-S2jYeshSeexLSIKF7UPwV1gVUGBteM8TM4Xo825ku
TWITTER_ACCESS_SECRET: D3gM9bpFXmIHakQ8qyJ49Pmk2MYnoP3j0M0NkevdBk9AW
TWITTER_API_KEY: Q1XAyaO6AsPTALsiL99Wg
TWITTER_API_SECRET: aLfrhVgPiBPl5tBULnEU5mqQYwWAR7ty7BurJahtBts
DEVISE_SECRET: be102bbb1827cb02ba6662c09f5dcb2d2daa520df741816e9f0360c1564665ea398376116eadcc8212c93017ef5368ecaf2e19064c2c8ec853ec0f9c8fe7b299
